<h1>My Profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset class="small-form">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, 'New password'%><br/>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'New password confirmation' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </fieldset>
  <br/>
  <fieldset class="small-form">
    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :vanity_name %>
      <%= f.text_field :vanity_name %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'button' %>
    </div>
  </fieldset>
<% end %>

